{% extends "base.html" %}

{% block lab %}Холодильник{% endblock %}

{% block main %}
    <h1>Установка температуры холодильника</h1>
    <form method="post">
        <label for="temperature">Температура (°С):</label>
        <input type="number" id="temperature" name="temperature">
        <button type="submit">Установить</button>
    </form>

    <div>
        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% elif message %}
            <p>{{ message }} {{ snowflakes }}</p>
        {% endif %}
    </div>
{% endblock %}
