{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
<style>
    body {
        background: url('{{ url_for("static", filename="lab9/new_year_bg.jpg") }}') no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block main %}
<h1>Выберите ваш пол</h1>
<form method="post" action="/lab9/gender">
    <button type="submit" name="gender" value="male">Мужчина</button>
    <button type="submit" name="gender" value="female">Женщина</button>
</form>
{% endblock %}
