{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
<style>
    body {
        background: url('{{ url_for("static", filename="lab9/new_year_bg.jpg") }}') no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block main %}
{% if session['interest'] == 'vkusnoe' %}
    <h1>Выберите, что вам больше нравится</h1>
    <form method="post" action="/lab9/result">
        <button type="submit" name="final_choice" value="sladkoe">Сладкое</button>
        <button type="submit" name="final_choice" value="sytnoye">Сытное</button>
    </form>
{% else %}
    <h1>Выберите, что вам больше нравится</h1>
    <form method="post" action="/lab9/result">
        <button type="submit" name="final_choice" value="krasivoe">Красивое</button>
        <button type="submit" name="final_choice" value="originalnoe">Оригинальное</button>
    </form>
{% endif %}

</form>
{% endblock %}
