{% extends "base.html" %}

{% block lab %}Лабораторная работа 9{% endblock %}

{% block extra_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='lab9/lab9.css') }}">
<style>
    body {
        background: url('{{ url_for("static", filename="lab9/new_year_bg.jpg") }}') no-repeat center center fixed;
        background-size: cover;
    }
</style>
{% endblock %}

{% block main %}
<h1>Выберите, что вам нравится</h1>
<form method="post" action="/lab9/result">
    {% if user_data['age'] < 14 and user_data['gender'] == 'male' %}
        <button type="submit" name="final_choice" value="krasivoe">Конструктор с подсветкой</button>
        <button type="submit" name="final_choice" value="kartina">Набор для создания моделей машин</button>
    {% elif user_data['age'] < 14 and user_data['gender'] == 'female' %}
        <button type="submit" name="final_choice" value="krasivoe">Набор для плетения браслетов</button>
        <button type="submit" name="final_choice" value="kartina">Набор для создания кукольного домика</button>
    {% elif user_data['gender'] == 'male' %}
        <button type="submit" name="final_choice" value="krasivoe">Элегантный настольный органайзер</button>
        <button type="submit" name="final_choice" value="kartina">Персонализированный кожаный кошелёк</button>
    {% else %}
        <button type="submit" name="final_choice" value="krasivoe">Набор дизайнерской косметики</button>
        <button type="submit" name="final_choice" value="kartina">Сертификат на мастер-класс по керамике</button>
    {% endif %}
</form>
{% endblock %}
