{% extends "base.html" %}

{% block lab_title %}Лабораторная работа 3{% endblock %}

{% block main %}
    <h1>Формы, cookie</h1>
    <div>
        Привет, <span style="color: {{name_color}} "> {{ name }} </span>!
    </div>
    <div>
        Ваш возраст: {{ age }}
    </div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab3/cookie">cookie</a></li>
        <li><a href="/lab3/del_cookie">очистить cookie</a></li>
        <li><a href="/lab3/form1">Форма</a></li>
        <li><a href="/lab3/order">Заказ кофе</a></li>
        <li><a href="/lab3/settings">Настройки cookie</a></li>
        <li><a href="/lab3/ticket_form">Форма для ввода данных о пассажире</a></li>
        <li><a href="/lab3/ticket">Шаблон страницы с билетом</a></li>
    </ol>
{% endblock %}
