{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Ваши статьи</h1>
    <!-- Если у пользователя нет статей, выводим сообщение -->
    {% if message %}
        <p>{{ message }}</p>
    {% else %}
        <!-- Перебираем и отображаем все статьи пользователя -->
        {% for article in articles %}
            <div class="article">
                <h2>{{ article['title'] }}</h2> <!-- Заголовок статьи -->
                <blockquote>{{ article['article_text'] }}</blockquote> <!-- Текст статьи -->
                <!-- Кнопка для удаления статьи -->
                <form action="{{ url_for('lab5.delete_article', article_id=article['id']) }}" method="post">
                    <button type="submit">Удалить</button>
                </form>
                <!-- Ссылка на редактирование статьи -->
                <a href="{{ url_for('lab5.edit_article', article_id=article['id']) }}">Редактировать</a>
            </div>
        {% endfor %}
    {% endif %}
    <a href="{{ url_for('lab5.index') }}">Назад</a>
{% endblock %}
