{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <h1>Создание статьи</h1>
    <!-- Форма создания статьи -->
    <form method="post">
        <div>
            <!-- Поле для ввода названия статьи -->
            <label>
                Название статьи:
                <input type="text" maxlength="50" name="title" required>
            </label>
        </div>
        <div>
            <textarea name="article_text" rows="10" cols="50" placeholder="Введите текст статьи..."></textarea>
        </div>        
        <div>
            <!-- Вывод ошибки, если форма заполнена некорректно -->
            {% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
            <button type="submit">Готово</button> <!-- Кнопка для отправки формы -->
        </div>
    </form>
    <a href="{{ url_for('lab5.index') }}">Назад</a> <!-- Ссылка для возврата на главную страницу -->
{% endblock %}
