{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
    <div class="main-nav">
        <h1>База знаний</h1>
        <nav>
            <a href="{{ url_for('lab5.list_articles') }}" class="nav-button">Список статей</a>
            <a href="{{ url_for('lab5.create') }}" class="nav-button">Создать статью</a>
            <!-- <!-- <a href="{{ url_for('lab5.users') }}" class="nav-button">Список пользователей</a>  -->
            <a href="{{ url_for('lab5.login') }}" class="nav-button">Войти</a>
            <a href="{{ url_for('lab5.register') }}" class="nav-button">Регистрация</a>
            {% if session.get('login') %}
                <span class="user-info">Вы вошли как: {{ session.get('login') }}</span>
                <a href="{{ url_for('lab5.logout') }}" class="nav-button">Выйти</a>
            {% else %}
                <span class="user-info">Anonymous</span>
            {% endif %}
        </nav>
    </div>
<main>
    <p>Добро пожаловать в базу знаний. Выберите действие из меню.</p>
</main>
{% endblock %}
