{% extends "base.html" %}

{% block lab %}Лабораторная работа 5{% endblock %}

{% block main %}
<h1>Функции лабораторной работы 5</h1>
<div>Тема лабораторной работы - База знаний. Список доступных функций:</div>
<ol>
    <li><a href="{{ url_for('lab5.list_articles') }}">Список статей</a></li> <!-- Ссылка на список статей -->
    <li><a href="{{ url_for('lab5.create') }}">Создать статью</a></li> <!-- Ссылка на создание статьи -->
    <li><a href="{{ url_for('lab5.login') }}">Войти</a></li> <!-- Ссылка на страницу входа -->
    <li><a href="{{ url_for('lab5.register') }}">Регистрация</a></li> <!-- Ссылка на регистрацию -->
    {% if session.get('login') %}
        <li><a href="{{ url_for('lab5.logout') }}">Выйти</a></li> <!-- Ссылка на выход из системы -->
        <li>Вы вошли как: {{ session.get('login') }}</li> <!-- Имя текущего пользователя -->
    {% else %}
        <li>Вы вошли как: anonymous</li> <!-- Если пользователь не авторизован -->
    {% endif %}
</ol>
{% endblock %}
