{% extends "base.html" %}

{% block main %}
<h1>НГТУ, ФЭ, WEB-программирование, часть 2. Список лабораторных</h1>
<nav>
    <ul>
        <li><a href="/lab1">Первая лабораторная</a></li>
        <li><a href="/lab2">Вторая лабораторная</a></li>
        <li><a href="/lab3">Третья лабораторная</a></li>
        <li><a href="/lab4">Четвертая лабораторная</a></li>
        <li><a href="/lab5">Пятая лабораторная</a></li>
        <li><a href="/lab6">Шестая лабораторная</a></li>
        <li><a href="/lab7">Седьмая лабораторная</a></li>
        <li><a href="/lab8">Восьмая лабораторная</a></li>
        <li><a href="/lab9">Девятая лабораторная</a></li>
        <li><a href="/rgz">Работа с книгами (РГЗ)</a></li>
    </ul>
</nav>
{% endblock %}
