{% extends "base.html" %}

{% block lab %}Лабораторная работа 8{% endblock %}

{% block main %}
<h1>{{ article.id and "Редактирование статьи" or "Создание статьи" }}</h1>
<form method="post">
    <div>
        <label>Название статьи:
            <input type="text" name="title" value="{{ article.title if article else '' }}" required>
        </label>
    </div>
    <div>
        <label>Текст статьи:
            <textarea name="article_text" required>{{ article.article_text if article else '' }}</textarea>
        </label>
    </div>
    {% if error %}
        <p style="color: red;">{{ error }}</p>
    {% endif %}
    <button type="submit">Сохранить</button>
</form>
<a href="{{ url_for('lab8.article_list') }}">Назад к статьям</a>
{% endblock %}
